:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--blanco);
  background-color: var(--negro);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blanco1: #EEF4ED;

  /* paleta 2 */

  --negro2P2: #0C1821;
  --azulP2: #1B2A41;
  --grisP2: #324A5F;

  /* paleta 3 */

  --negro: #000000;
  --azulOscuro: #000814;
  --azul: #0A2472;
  --violeta: #8A2BE2;
  --blanco: #CCC9DC;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Menu  */
header{
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azulOscuro);
  width: 100%;
  text-transform: uppercase;
}

/* Items Menu */

.showNav{
  display: flex;
  font-weight: 700;
  margin-right: 5px;
  margin-left: 5px;
}

.showNav li {
  list-style: none;
  position: relative;
  margin: 10px;
}

.showNav li a{
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--blancoP2);
  font-weight: 500;
} 

.showNav li a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--violeta);
  transition: width 1s ease;
}

.showNav li:hover{
  scale: 1.1;
}

.showNav li:hover a::before{
  width: 100%;
}



/* Menu en mobile */

/* @media screen and (max-width: 768px) {
  .navbar{
    justify-content: space-between;
    padding: 5px 15px 0px 15px;
  }

  .btnNav{
    display: block;
  }

  .btnNav span{
    display: block;
  }

  .showNav{
    display: none;
  }

  .showNav.active{
    display: flex;
    width: 100%;
    gap: 3px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3c096c;
    z-index: 1;
  }

  .showNav li:hover{
    scale: 1;
  }
} */

/* Estilos main */

.welcome{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7rem 4rem 4rem 4rem;
}

.aboutMe{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  line-height: 1;
  text-align: left;
  overflow: hidden;
}

.aboutMe h1{
  font-size: 2.5rem;
}

.aboutMe .showTitle{
  font-size: 1.5rem;
  color: var(--violeta);
  font-weight: 600;
}

.aboutMe p{
  padding-bottom: 5px;
  line-height: 1.3;
}

.aboutMe p a{
  text-decoration: none;
  color: var(--violeta);
}

.aboutMe .btnDownload{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 8rem;
  height: 2.6rem;
  border-radius: 0.8rem;
  background-color: var(--azulOscuro);
  border: 2px solid var(--violeta);
  position: relative;
  font-weight: 600;
}

.aboutMe .btnDownload:hover{
  transition: background-color 600ms ease;
}

.aboutMe .btnDownload:active{
  scale: 0.9;
}

.aboutMe .btnDownload .download{
  text-decoration: none;
  color: white;
}

.aboutMe .btnDownload svg{
  color: white;
}

.imgContainer{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.imgContainer img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 1024px){
  .aboutMe{
    width: 400px;
  }
}

@media screen and (max-width: 768px){
  .welcome{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  .aboutMe{
    width: 450px;
  }
}

@media screen and (max-width: 480px){
  .aboutMe{
    width: 350px;
  }
}

/* Habilidades  */

.skills{
  width: 75%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.skills .slider{
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  animation: scroll 60s linear infinite;
  -webkit-animation: scroll 60s linear infinite;
  width: calc(200px * 10);
}

.skills .slider:nth-child(2){
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  animation: scroll2 60s linear infinite;
  -webkit-animation: scroll2 60s linear infinite;
  width: calc(200px * 10);
}

.skills .slider:nth-child(2) .box{
  padding-left: 80px;
}

.skills .slider .box{
  width: 200px;
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(calc(-200px * 5));
  }
}

@keyframes scroll2 {
  0%{
    transform: translateX(calc(-200px * 5));
  }

  100%{
    transform: translateX(0);
  }
}

/* @media screen and (max-width: 1124px){
  .skills{
    font-size: 14px;
  }
  
  .container{
    gap: 4rem;
  }

  .box{
    height: 90px;
    width: 100px;
  }
}

@media screen and (max-width: 768px){
  .skills{
    font-size: 14px;
  }

  .container{
    gap: 3rem;
  }

  .box{
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 524px){
  .skills{
    font-size: 10px;
    padding-top: 0;
  }

  .container{
    gap: 1.5rem;
  }
  
  .box{
    height: 70px;
    width: 60px;
  }
} */

/* Proyectos */
.separator{
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.separator h2{
  margin: auto;
  font-size: 1.7rem;
  padding-bottom: 2rem;
}


.proyect{ 
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  gap: 2rem;
}

.card{
  height: auto;
  min-width: 280px;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,#8A2BE2, #4361ee) border-box;
  border: 2px solid transparent;
}


.cardContent{
  height: 100%;
  background-color: rgb(36, 36, 36, 0.4);
  padding: 2rem;
  opacity: 1;
  background-color: #000814;
}

.cardTitle{
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
}

.cardTitle::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8A2BE2;
  transition: width 1s ease;
}

.cardContent:hover .cardTitle::before{
  width: 100%;
}

.cardDescription{
  padding-bottom: 15px;
}

.cardContent a{
  background-color: #8A2BE2;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border: 2px solid #8A2BE2;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  transition: background-color 400ms ease;
}

.cardContent a:hover{
  background-color: transparent;
}

/* Estilos footer */

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
  width: 100%;
  height: 400px;
  margin: auto;
  position: relative;
}

.tarjeta{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 250px;
}

.tarjeta h2{
  font-size: 2rem;
}

.tarjeta li {
  list-style: none;
  padding-bottom: 5px;
}

.tarjeta li a{
  text-decoration: none;
  color: white;
  align-items: center;
}

.contenedorRedes{
  display: flex;
  gap: 1rem;
}

.contenedorRedes a:hover{
  scale: 1.1;
}


/* Formulario */


form{
  display: flex;
  background-color: #000814;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

form input[type="text"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--violeta);
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
}

form input[type="submit"] {
  width: 25%;
  position: right;
  background-color: transparent;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border: 2px solid var(--violeta);
  border-radius: 5px;
  color: white;
  font-weight: 500;
  transition: background-color 400ms ease;
}

form input:focus,
form textarea:focus{
  outline: solid var(--violeta);
}

.contact .btnHome{
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 30px;
  padding-bottom: 30px;
  color: #ffffff;
}      
      

          