:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Menu  */
header{
  width: 100%;
}

.navbar {
  display: flex;
  /* position: sticky; */
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
  position: relative;
}

.title{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

/* boton desplegable */

.btnNav{
  display: none;
  all: unset;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 4px;
}

.btnNav span{
  display: none;
  width: 100%;
  height: 0.125rem;
  border-radius: 2px;
  background-color: #242424;
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: background-color .4s;
  position: relative;
}

.btnNav span{
  margin-top: .375rem;
}

.btnNav span:nth-child(1) {
  animation: ease .8s menu-icon-top-2 forwards;
}

.btnNav span:nth-child(2) {
  animation: ease .8s menu-icon-scaled-2 forwards;
}

.btnNav span:nth-child(3) {
  animation: ease .8s menu-icon-bottom-2 forwards;
}

.btnNav:hover span:nth-child(1) {
  animation: ease .8s menu-icon-top forwards;
}

.btnNav:hover span:nth-child(2) {
  animation: ease .8s menu-icon-scaled forwards;
}

.btnNav:hover span:nth-child(3) {
  animation: ease .8s menu-icon-bottom forwards;
  background-color: #242424;
}

@keyframes menu-icon-top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: .5rem;
    transform: rotate(0);
  }

  100% {
    top: .5rem;
    transform: rotate(45deg);
  }
}

@keyframes menu-icon-top-2 {
  0% {
    top: .5rem;
    transform: rotate(45deg);
  }

  50% {
    top: .5rem;
    transform: rotate(0);
  }

  100% {
    top: 0;
    transform: rotate(0);
  }
}

@keyframes menu-icon-bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: .5rem;
    transform: rotate(0);
  }

  100% {
    bottom: .5rem;
    transform: rotate(135deg);
  }
}

@keyframes menu-icon-bottom-2 {
  0% {
    bottom: .5rem;
    transform: rotate(135deg);
  }

  50% {
    bottom: .5rem;
    transform: rotate(0);
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes menu-icon-scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes menu-icon-scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* Items Menu */

.showNav{
  display: flex;
}

.showNav li {
  list-style: none;
  padding: 0 10px 0 10px;
}

.showNav li:hover{
  scale: 1.1;
}

.showNav li a{
  text-decoration: none;
  color: white;
  font-weight: 500;
} 

.showNav li a:hover {
  border-bottom: 2px solid white;
}

/* Menu en mobile */

@media screen and (max-width: 480px) {
  .navbar{
    justify-content: space-between;
    padding: 5px 15px 0px 15px;
  }

  .btnNav{
    display: block;
  }

  .btnNav span{
    display: block;
  }

  .showNav{
    display: none;
  }

  .showNav.active{
    display: flex;
    width: 100%;
    gap: 3px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: blueviolet;
    z-index: 1;
  }

  .showNav li:hover{
    scale: 1;
  }
}

/* Estilos main */

.welcome{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
}

.aboutMe{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  line-height: 1;
  text-align: left;
  overflow: hidden;
}

.aboutMe h1{
  font-size: 2.5rem;
}

.aboutMe .showTitle{
  font-size: 1.5rem;
  color: #8A2BE2;
  font-weight: 600;
}

.aboutMe p{
  padding-bottom: 5px;
  line-height: 1.3;
}

.aboutMe p a{
  text-decoration: none;
  color: rgb(138, 43, 226);
}

.aboutMe .btnDownload{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 8rem;
  height: 2.6rem;
  border-radius: 1.5rem;
  background: #8A2BE2;
}

.aboutMe .btnDownload .download{
  text-decoration: none;
  color: #fff;
}

.imgContainer{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.imgContainer img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 768px){
  .welcome{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    padding-top: 6rem;
  }

  .aboutMe{
    width: 350px;
  }
}